@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <img src="https://lumiere-a.akamaihd.net/v1/images/pp_lightyear_herobanner_v2_22043_2e9cfb4e.jpeg?region=0,29,2048,820">
</div>
